:root {
    --brand-color: #4D5AE5;

    --dark-color: #2E2F42;

    --light-color: #F4F4FD;

    --primary-text-color: #434455;

    --secondary-text-color: #8E8F99;

    --accent-color: #E7E9FC;

    --success-color: #31D0AA;

    --pressed-state-color: #404BBF
}

/* ---------------body--------------- */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: #ffffff;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;
    /* display: flex;
        align-items: center; */
}

.link {
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.link:hover,
.link:focus {
    color: var(--brand-color);
}

/* ----------------logo---------------- */

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-color);
    /* margin-right: 76px; */
}

.logo-header {
    padding: 24px 16px;
}

.brand-color-logo {
    color: var(--brand-color);
}

.logo-header:hover,
.logo-header:focus {
    color: var(--dark-color);
}

.logo-footer {
    color: var(--light-color);
    margin-right: 0;
}

.logo-footer:hover,
.logo-footer:focus {
    color: var(--light-color);
}

.container {
    outline: 1px solid red;
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}