
@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
    /* outline: 1px solid red; */
    }
    
    .mobile-menu-open-btn {
    display: none;
    }


    .header-nav {
    display: flex; 
    align-items: center;
    margin-right: auto;
    }
    
    .header-list {
    gap: 40px;
    }
    
    .contacts-list {
    margin-left: auto;
    gap: 40px;
    }
    


}